.profile__add-btn {
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .7s ease;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .profile__add-btn {
    background-size: 16px;
    width: 282px;
    margin: 33px 0 0 0;
  }
}

