.profile__info {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 7px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    grid-template-columns: 24px 1fr 24px;
    justify-items: center;
  }
}

@media screen and (max-width: 550px) {
  .profile__info {
    grid-template-columns: 18px 1fr 18px;
    column-gap: 12px;
    row-gap: 8px;
  }
}

