.page {
  max-width: 1280px;
  min-width: 320px;
  padding: 0 200px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .page {
    padding: 0 15.6%;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0;
  }
}
