.popup__container {
  width: 430px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 36px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}
