.form__item {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13px;
  margin-bottom: 30px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #000000;
}

.form__item:last-of-type {
  margin: 0;
}
