.footer__copyright {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #545454;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    font-size: 14px;
  }
}
