.form__item-error {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  padding-top: 2px;
  width: 100%;
  visibility: hidden;
}
