.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1025px) {
  .header {
    padding: 35px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 32px;
  }
}
