.gallery__delete-btn {
  background-color: transparent;
  background-image: url(../../../images/Delete-btn.svg);
  background-size: contain;
  border: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: opacity .5s ease;
}

.gallery__delete-btn:hover {
  opacity: .6;
}
