.profile__edit-btn {
  padding: 0;
  width: 100%;
  height: 24px;
  align-self: flex-end;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: url(../../../images/Edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: .7s ease;
}

.profile__edit-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 1023px) {
  .profile__edit-btn {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 550px) {
  .profile__edit-btn {
    height: 18px;
    margin-bottom: 4px;
  }
}
