.form__title {
  margin: 0;
  margin-bottom: 47px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 121%;
}

@media screen and (max-width: 700px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}
