.footer {
  padding: 66px 0 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 48px 0 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
